body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
}

section {
    display: flex;
}

.color {
    color: crimson;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}