body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 45px;
}

.flexible-content {
    display: flex;
    margin-bottom: 80px;
}

.color {
    color: crimson;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 7%;

}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    border-radius: 5px;
    padding: 10px 15px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 50%;
    padding: 0px 90px 0px 90px;
    box-shadow: 10px 10px 40px gray;
    margin: 80px 80px;
    border-radius: 20px;

}

#border-1 {
    border-left: 7px solid salmon;
    border-radius: 4px;
}

#border-2 {
    border-left: 7px solid darkblue;
    border-radius: 4px;
}

footer p {
    text-align: center;
}